.canvas {
  position: absolute;
  background-color: black;
}

.specimen {
  border-radius: 50%;
  background-color: paleturquoise;
  transform: translate(-25%, -25%)
}

.food {
  border-radius: 50%;
  background-color: palegreen;
}

.entity {
  position: absolute;
}

